<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="header__title">Birdland Birdwatching App</h1>
        <!-- <nav class="header__nav nav">
          <ul class="nav__list">
            <li class="nav__item"><a class="nav__link" href="#" title="Login">Login</a></li>
            <li class="nav__item"><a class="nav__link" href="#" title="Report">Report</a></li>
          </ul>
        </nav> -->
      </div>
    </div>
  </div>


</header>


      <!-- header/navigation -->

      

  <!-- map -->
  <section class="mapbox">
  
    <!-- map controls --> 

    <ui-gmap-google-map center='map.center' zoom='map.zoom' class='mapbox__map'></ui-gmap-google-map>
    
    <!-- <div id="map" class="mapbox__map">
    </div> -->
  
    <div class="mapbox__controls">
      
    </div>
  
  </section>

      <!-- placeholder images -->
      <!-- http://p-hold.com/bird/100/200 -->

      <!-- report -->
      <!-- <form action="" class="report">

        <div class="form-group">
          <label for="timestamp">Date</label>
          <input type="text" class="report__input--timestamp form-control">
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" class="report__input--location form-control">
        </div>
        <div class="form-group">
          <label for="species">Species</label>
          <input type="text" class="report__input--species form-control">
        </div>
        <div class="form-group">
          <label for="notes">Notes</label>
          <textarea rows="10" class="report__input--notes form-control">
          </textarea>
        </div>
      </form> -->
      
      <!-- login/signup -->
      <pre class="debug" ng-click="main.showDetails()">
        {{main.test}}
        <p ng-repeat="bird in main.birds">{{bird.bird_species}}</p>
        <!-- <p ng-model="main.birds">{{main.birds}}</p> -->
        <!-- <p ng-repeat="bird in main.birds">
          {{bird.bird_species}}
        </p> -->
      </pre>
      

<script type="text/javascript">
  // console.log('map function: ', main.initMap);
</script>

<!--
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmP9_IcqdVZEvLo8cu4tQ42JUCo6V6-5Y&callback=main.initMap">
</script>
-->