.content {
    position: relative;
    width: 100%;
    height: 100%;
}
.mapbox {
    position: absolute;
    top: $header-height;
    bottom: 0;
    left: 0;
    right: 0;
    &__map {
        width: 100%;
        height: 100%;
        background-color: #ddd;
    }
}

.report-details {
    width:500px;
    height:500px;
}

.debug {
    display: none;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: .4;
    width: 80%;
    padding: 25px 25px 30px;
}

.angular-google-map { height: 100%; }
.angular-google-map-container { height: 100%; }
