.header {
    height: $header-height;
    background-color: #fff;
    border-bottom: 1px solid  #ddd;
    z-index: $z-level-top;

    &__title {
        margin: 0;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        line-height: $header-height;
    }

}